.welcome {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/table6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills {
  min-height: 100vh;
}

.projects {
  min-height: 100vh;
}
.contact {
  min-height: 70vh;
}

.last {
  min-height: 15vh;
  color: white;
}

.image {
  border: 0;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.modal-dialog {
  width: 375px;
}

iframe {
  width: 350px;
  height: 630px;
}

textarea {
  resize: none;
}
